<footer>
  <p>
    <a href="https://lil.law.harvard.edu">
      <img src="/static/lil.svg" alt="Harvard Library Innovation Lab - Logo">
    </a>
  </p>
  
  <p>This site is an experiment of the <a href="https://lil.law.harvard.edu">Harvard Library Innovation Lab</a>.</p>

  <p><a href="https://twitter.com/harvardlil">@harvardlil</a> on Twitter - <a href="https://ocb.to/lawvocado">Subscribe to our Newsletter</a>.</p>

  <p>contact: <a href="mailto:info@perma.cc">info@perma.cc</a></p>
</footer>