<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page not found</title>
    <meta name="description" content="Page not found">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/index.css">
    <script type="module" src="/static/check.js"></script>
  </head>

  <body id="not-found">
    <main>

      {% include "./modules/header-pic.njk" %}

      <header>
        <h1>404 Not found</h1>
        <p>The page you requested could not be found.</p>
        <p><a href="/">Go back to the homepage</a></p>
      </header>

    </main>
  </body>
</html>
