<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signature Checking Page</title>
    <meta name="description" content="How do I check that a PDF came from you?">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/index.css">
    <script type="module" src="/static/check.js"></script>
  </head>

  <body id="check">
    <main>

      {% include "./modules/header-pic.njk" %}

      <header>
        <h1>Signature Verification Page</h1>
        <p>How do I check that a PDF came from you?</p>
      </header>

      <hr>

      <section>

        <h2>Fingerprint check</h2>

        <p>You may use <a href="#check-pdf">this form</a> to confirm whether a PDF file really came from us by checking its fingerprint against our logs.</p>

        <h2>Signing Certificates History</h2>

        <p>Below is the list of signing certificates this website has used to sign PDFs. You may download the associated PEM file to allow Acrobat Reader to verify signatures.

        {% for entry in signingCertsHistory %}
        <p class="spaced">
        From <strong>{{ entry.from }}</strong> to <strong>{{ entry.to }}</strong>, we've signed documents using a certificate for: <strong>{{ entry.domain }}</strong>.<br/>
        See: <a href="{{ entry.info }}">certificate transparency records for this certificate</a>, <a href="{{ entry.cert }}">certificate file</a>.
        </p>
        {% endfor %}

        <h2>Timestamping Certificates History</h2>

        <p>Below is the list of timestamping certificates this website has used to sign PDFs. You may download the associated CER file to allow Acrobat Reader to verify signatures.

        {% for entry in timestampsCertsHistory %}
        <p class="spaced">
        From <strong>{{ entry.from }}</strong> to <strong>{{ entry.to }}</strong>, we've signed documents using the following timestamping server: <strong>{{ entry.domain }}</strong>.<br/>
        See: <a href="{{ entry.info }}">certificate transparency records for this certificate</a>, <a href="{{ entry.cert }}">certificate file</a>.
        </p>
        {% endfor %}

        <p><a href="/">Go back to the homepage</a></p>

      </section>

      <dialog id="check-pdf">
        <h2>Check a PDF</h2>

        <p>This tool verifies that a given .pdf file was created by archive.social by matching its fingerprint against our logs.</p>

        <input 
          aria-label="File input for the PDF file to check" 
          type="file" 
          accept=".pdf" 
          name="check-pdf-file"/>

        <textarea disabled>Results will be displayed here.</textarea>

        <button>Check PDF</button>

        <a href="#">Close</a>
      </dialog>

      {% include "./modules/footer.njk" %}

    </main>
  </body>
</html>
