<!DOCTYPE html>
<html lang="en">
  <head>
    <title>archive.social | High-fidelity capture of Twitter threads as sealed PDFs.</title>
    <meta name="description" content="archive.social is an experiment of the Harvard Library Innovation Lab.">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/index.css">
    <script type="module" src="/static/index.js"></script>
  </head>

  <body id="index">
    <main>

      <!-- HEADER -->
      <img 
        src="/static/ocean-of-books.svg" 
        alt="Illustration of a person falling in an ocean of books.">

      <header>
        <h1>archive.social</h1>
        <p>High-fidelity capture of Twitter threads as sealed PDFs.</p>
      </header>

      <!-- MAIN FORM -->
      <form action="/" target="_blank" method="POST" enctype="application/x-www-form-urlencoded">

        <fieldset>
          <label for="url">Twitter.com url to capture</label>
          <input type="url" 
                 pattern="https://twitter.com/.*" 
                 id="url" 
                 name="url" 
                 placeholder="https://twitter.com/..."
                 required>
        </fieldset>

        <fieldset>
          <label for="access-key">Archive.social access key</label>
          <input type="password" 
                 name="access-key" 
                 id="access-key"
                 required>
        </fieldset>
          
        <fieldset class="submit">
          <a href="https://docs.google.com/forms/d/11pVfBReAHmHGmtzKrQ4XqrvOMBr4BI4bX-hDdsn0OuQ/" target="_blank" rel="noreferer">Request an access key.</a>
          <button>Capture</button>
        </fieldset>

      </form>

      {% if error %}
      <!-- ERROR DIALOG -->
      <dialog id="form-error">
        <h2>Something went wrong</h2>

        {% if errorReason and errorReason == "ACCESS-KEY" %}
        <p>The access key provided is invalid or no longer active.</p>
        {% endif %}

        {% if errorReason and errorReason == "URL" %}
        <p>The url provided is not a valid twitter.com url.</p>
        {% endif %}

        {% if errorReason and errorReason == "TOO-MANY-CAPTURES-TOTAL" %}
        <p>archive.social has received too many requests. Please retry in a minute.</p>
        {% endif %}

        {% if errorReason and errorReason == "TOO-MANY-CAPTURES-USER" %}
        <p>Please wait until the capture requests you've started are completed before starting a new one.</p>
        {% endif %}

        {% if errorReason and errorReason == "CAPTURE-ISSUE" %}
        <p>archive.social encountered an issue during the capture process itself. Please try again later.</p>
        {% endif %}

        <button>Ok</button>
      </dialog>
      {% endif %}

      <!-- FORM SUBMIT DIALOG -->
      <dialog id="form-submit">
        <h2>Request a capture.</h2>

        <p>Submitting this form will open a new tab, in which your request will be processed.</p>

        <p>The capture process should take around a minute, at the end of which the resulting sealed PDF will be ready to be downloaded.</p>

        <button>I understand, proceed.</button>
      </dialog>

      <!-- EXPLAINER -->
      <section>
        <h2>What is this?</h2>

        <p>Archive.social is an experiment by the <a href="https://lil.law.harvard.edu">Harvard Library Innovation Lab</a> to let you download signed PDFs of Twitter URLs. <a href="/static/example.pdf">Here's an example PDF</a> we made from <a href="https://twitter.com/doctorow/status/1591759999323492358">this tweet</a>.</p>

        <h2>Who can use it?</h2>

        <p>To use our website <a href="https://docs.google.com/forms/d/11pVfBReAHmHGmtzKrQ4XqrvOMBr4BI4bX-hDdsn0OuQ/">you'll need to contact us</a> for an API key. We're currently only able to share a limited number with people like journalists, internet scholars, and archivists. But you can also use our open source software (coming soon!) to stand up an archive server of your own, and share it with your friends.</p>

        <h2>Why make a PDF archiving tool for Twitter?</h2>

        <p>There are lots of screenshots of Twitter threads going around. Some are real, some are fake. You can't tell who made them, or when they were made.</p>

        <p>PDFs let us apply document signatures and timestamps so anyone can check, in the future, that a PDF you download with "archive.social" really came from the Harvard Library Innovation Lab and hasn't been edited. PDFs also let us bundle in additional media as attachments. Each signed PDF currently includes all images in the page (so you can see full size images that are cropped in the PDF view) and the primary video on the page if any.</p>

        <h2>Why <em>not</em> make a PDF archiving tool for Twitter?</h2>

        <p>Not everything on Twitter wants to be archived! On Twitter all kinds of conversations happen at different levels of privacy in the same public space. Some tweets want to be quiet; some want to be forgotten; some are by public figures or have public impact or sentimental value and want to be kept around. Please think carefully about what you choose to preserve.</p>

        <p>Library nerd note: societies create much more data than they can save. "Thinking carefully about what you choose to preserve" is part of the practice of archiving. By doing it, you're helping to form our shared cultural memory.</p>

        <h2>How do you make these PDFs (and why does it take so long)?</h2>

        <p>Twitter captures are made using open source web archiving software we're developing at the Library Innovation Lab for eventual use in our <a href="https://perma.cc">Perma.cc project</a>. The software uses a headless Chrome browser to render the page as it would appear to a reader. For this experiment, we're also running custom javascript in the headless browser to remove Twitter UI and make the content easier to read.</p>

        <p>Captures can take as long as a minute, because we scroll to load resources from the entire Twitter thread.</p>

        <h2>How do I check that a PDF came from you?</h2>

        <p>You can download <a href="https://crt.sh/?id=8004113167">this public key file</a> and add it to Adobe Acrobat. We'll also add a page on our site shortly where you can upload a PDF and we'll confirm whether it really came from us.</p>

        <p>Tech nerd note: As an extra check, the key you're downloading here happens to be one that we also verified via LetsEncrypt as belonging to our Harvard domain, lil.law.harvard.edu. You can see the same key in <a href="https://crt.sh/?id=8004113167">the certificate transparency logs</a>.</p>

        <h2>Does a signature on a PDF web archive mean it's real?</h2>

        <p>Well … no. Library folks like to talk about "authenticity" and "provenance". A signature on a PDF tells you its <em>provenance</em>: you can prove that you really got the PDF from us, and that we couldn't have created it after a certain date. You'll then have to decide whether you trust our claim that the PDF we gave you represents a real page we saw on Twitter (and that no one else has messed with our servers). If someone else gives you a signed PDF, they're giving you a different provenance chain, and you can trace that back to decide who you're being asked to trust.</p>

        <p>Tech nerd note: This whole trust step is needed because of something called <em>repudiability</em>: https web transactions are deliberately designed to be repudiable, meaning there's no way to tell as a third party after the fact whether they ever really happened. Signed HTTP exchanges are one proposal that may eventually let websites choose to publish verifiable content instead, but they aren't here yet. So for now, you're left deciding whether "archive.social" is an intermediary you want to choose to trust.</p>
      </section>

      <!-- FOOTER -->
      <footer>
        <p>
          <a href="https://lil.law.harvard.edu">
            <img src="/static/lil.svg" alt="Harvard Library Innovation Lab - Logo">
          </a>
        </p>
        
        <p>archive.social is an experiment of the <a href="https://lil.law.harvard.edu">Harvard Library Innovation Lab</a>.</p>

        <p><a href="https://twitter.com/harvardlil">@harvardlil</a> on Twitter - <a href="https://law.us3.list-manage.com/subscribe?u=4290964398813d739f2398db0&amp;id=e097736c6f">Subscribe to our Newsletter</a>.</p>
      </footer>

    </main>
  </body>
</html>
