<!DOCTYPE html>
<html lang="en">
  <head>
    <title>archive.social | Capture complete.</title>
    <meta name="description" content="" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
    * {
      padding: 0px;
      margin: 0px;
    }
    
    iframe {
      display: block;
      width: 100%;
      height: 100vh;
      border: 0px;
    }
    </style>
  </head>

  <body>
    <iframe src="data:application/pdf;base64,{{ pdfBase64 }}"></iframe>
  </body>
</html>
